body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 120%;
}

header {
  background-color: #b8d9c2;
}

nav {
  background-color: #8ff0a4;
}

main {
  background-color: #e6ffe6;
  font-size: 90%;
}

footer {
  background-color: #8ff0a4;
  font-size: 75%;
}

li {
  display: inline;
  padding: 15px;
}

h1 {
  text-align: center;
  font-family: tahoma, sans-serif;
  color: #000000
}

p {
  line-height: 1.5em;
}
