# .gitignore 
#Node modules
node_modules/

# Logs
*.log

# Environment variables
.env

# Replit specific files
.replit
.replit.backup
.env.local
.env.production
replit.nix
.config/


# Temporary files
tmp/
temp/
*.tmp
*.temp

# Other files you want to ignore
